.anxietate1 {
    text-align: center;
    padding: 50px 5%;
    background: #EBE5EA;
}

.anxiety1-img {
    max-height: 150px;
}

.anxietate1 h1 {
    color: #880F43;
    font-family: 'Cormorant Garamond', serif;
    font-size: 3em;
    font-weight: 900;
    letter-spacing: -0.03em;
    padding: 20px 0 10px 0;
}

.anxietate1 p {
    color: #880F43;
    font-size: 1.2em;
    font-weight: 500;
}

.anx1-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    margin: auto;
    padding: 20px 5%;


}

.anxi11-parent,
.anxi12-parent {
    flex: 1 1 300px;
    max-width: 500px;

}

.anxi11,
.anxi12 {
    cursor: pointer;
    max-width: 95%;
    padding: 2.5%;

}

.zoom-img-anxi1 {
    max-width: 100%;
    padding: 0%;
}

.anxietate2 {
    background: #EBE5EA;
    padding: 50px 5%;

}

.banner-anxi2 {
    color: #850F43;
    text-align: center;
    padding: 30px 5%;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.98px;
    font-family: 'Cormorant Garamond', serif;
    background: #C8C2C6;
    background: -webkit-linear-gradient(to right, #C8C2C6, #dfd9dd, #C8C2C6);
    background: linear-gradient(to right, #C8C2C6, #dfd9dd, #C8C2C6);
}

.paragraphs-anxi2 {
    max-width: 1000px;
    margin: auto;

}

.standard-text {
    letter-spacing: .35px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.3;
    font-size: 1.3em;
    font-weight: 300;
}

.anxietate3 {
    background: #C8C2C6;
    background: -webkit-linear-gradient(to right, #C8C2C6, #dfd9dd, #C8C2C6);
    background: linear-gradient(to right, #C8C2C6, #dfd9dd, #C8C2C6);
    text-align: center;
    padding: 50px 5%;
}

.youtube-parent {
    max-width: 853px;
    /* 640 x 360 */
    /* 853 x 480 */
    margin: auto;
}

.youtube-iframe {
    width: 100%;
    height: 480px;
}

.anxietate4 {
    background: #EBE5EA;
    padding: 80px 0 50px 0;

}

.anxi-container {
    max-width: 1000px;
    padding: 0 2%;
    margin: auto;
}

.anxi-container7 {
    max-width: 1500px;
    padding: 0 2%;
    margin: auto;
}

.anxi-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.6em;
    font-weight: 900;
    letter-spacing: -0.03em;
    padding-bottom: 0px;
    color: #462332;
}

.anxietate4 h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: -0.03em;
    padding: 50px 0;
    color: #462332;
    text-align: center;
}

.anxietate4 ul li {
    margin: 0 50px;
}

.anxietate4 ul li span {
    color: #462332;
    font-weight: 400;
}

.text-align-center {
    text-align: center;
}

.text-align-justify {
    text-align: justify;
}

.center-but-left {
    display: inline-block;
    text-align: left;
}

.first-ul {
    color: #462332;
    font-weight: 400;
    margin-bottom: 15px;
}

.flex-anxi5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

.flex-anxi5-img-parent,
.anxi5-text {

    padding: 1%;

}

.anxi5-text {
    max-width: 550px;
}

.flex-anxi5-img-parent {
    max-width: 380px;
}

.flex-anxi5 img {
    width: 100%;


}

.anxi5-text button {
    font-size: 1em;
}

@media (max-width:1035px) {
    .flex-anxi5-img-parent {
        max-width: 500px;
    }

    .flex-anxi5 img {
        width: 100%;


    }


    .center-on-m {
        display: flex;
        justify-content: center;
    }


}


.anxietate5 {
    background: #C8C2C6;
    padding: 50px 0;
}

.anxietate5 h2,
.anxietate8 h2,
.anxietate9 h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: -0.03em;
    padding: 40px 0;
    color: #462332;
    text-align: center;
}

.anxietate9 h2 {

    padding: 0;

}

.anxietate6 {
    background: #EBE5EA;
    padding: 60px 0;


}

.anxietate8 {
    background: #EBE5EA;
    padding: 10px 0 60px 0;

}

.anxietate9 {
    background: #C8C2C6;
    padding: 50px 0;
}



.anxietate8 span {
    font-weight: 500;
    color: seagreen;
}

.anxietate8 strong {
    font-weight: 500;

}

.question h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: -0.03em;
    padding: 5px 0;
    color: #462332;

}

.anxi-questions p {
    letter-spacing: .35px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.3;
    font-size: 1.3em;
    font-weight: 300;
    margin: 0;

}

.question {
    margin: auto;
    max-width: 845px;
}

.question h2 {
    display: inline-block;
    text-align: start;
}

.anxi6-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.6em;
    font-weight: 900;
    letter-spacing: -0.03em;
    padding-bottom: 40px;
    color: #462332;
}

.anxietate7 {
    background: #C8C2C6;
    padding: 50px 0;

}

/* anxi carousel */

.carousel-root {
    width: 64% !important;
    margin: auto !important;
    margin-top: 3% !important;
}

.carousel .slide {
    background: inherit !important;
    color: black;
    height: 100%;
}

.carousel .slide img {
    width: 139px !important;
    border-radius: 50%;
}

.myCarousel {
    background: #fafafa;
    margin-top: -6%;
    width: 54%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 286px;
}

.carousel .control-dots {
    padding-left: 5px !important;
    outline: 0;
    bottom: 5% !important;
}

.myCarousel h3 {
    color: #222;
    font-weight: 100;
    letter-spacing: 0.2px;
    margin-bottom: 4px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
}

.myCarousel h4 {
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 0;
    font-weight: 500;
    color: #787878;
    font-size: 14px;
}

.myCarousel p {
    font-weight: 100 !important;
    line-height: 29px !important;
    color: #222;
    font-size: 15px;
    font-family: sans-serif;
    max-height: 67px;
}

.myCarousel p:before {
    content: "“";
    color: #aaa;
    font-size: 26px;
    font-family: monospace;
    font-weight: 100;
}

.myCarousel p:after {
    content: "”";
    color: #aaa;
    font-size: 26px;
    font-family: monospace;
    font-weight: 100;
    line-height: 0;
}

.carousel .control-dots .dot {
    box-shadow: none !important;
    background: #454545 !important;
    outline: 0;
}

.carousel.carousel-slider .control-arrow {
    background: #000 !important;
    height: 50px !important;
    position: absolute;
    top: 35% !important;
}

.App {
    text-align: center;
}

@media only screen and (max-width: 934px) {
    .carousel-root {
        outline: 0;
        width: 93% !important;
        margin: auto !important;
    }

    .carousel.carousel-slider .control-arrow {
        display: none !important;
    }

    .myCarousel {
        background: #fafafa;
        margin-top: -9%;
        width: 88%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 8%;
        padding-bottom: 12.5%;
        padding-left: 5%;
        padding-right: 5%;
        border: 1px solid #ddd;
        height: 269px;
    }

    .carousel .slide img {
        width: 24% !important;
        border-radius: 50%;
    }
}

/* anxi carousel end */




.anxi-form-container {

    max-width: 500px;
    padding: 30px 3%;
    margin: auto;

}

.anxietate10 {
    text-align: center;
    background: #EBE5EA;
    padding: 30px 0;
}

.anxietate10 img {   


    height: 200px;
}