.contact-contact input,
.contact-contact textarea {

    display: block;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    box-sizing: border-box;
}

.display-block {
    display: block;
}

.contact-contact input:focus,
.contact-contact textarea:focus{
    border-color: rgba(107, 110, 112, 0.8);
    box-shadow: 0 1px 1pxrgba(107, 110, 112, 0.8) inset, 0 0 8px rgba(107, 110, 112, 0.8);
    outline:  none;
}

.contact-errors {
    color: #850F43;  
}

.contact-and-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.form-container {
    max-width: 500px;
    width: 100%;
    padding: 5%;
}

.contact-img img {
    width: 100%;
    padding: 12% 0;
}

.contact-img  {
    max-width: 450px;
}

.contact-text {
    padding-top: 50px;
    max-width: 100%;
    text-align: center;

}



.contact-text p {

    letter-spacing: .35px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;


}

.contact-text p a,
.contact-text p a:hover,
.contact-text p a:focus,
.contact-text p a:active,.faq-link {
    text-decoration: none;
    color: inherit;
    color: #850F43;
}