.icon2 {
    max-height: 120px;
    
    margin: 5px 0;
    
}

.c-main1 {
    display: flex;
    justify-content: center;
    max-width: 900px;
    margin:auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 2%;
    padding-right: 2%;
}

.c-container {
    max-width: 700px;
    margin:auto;
}


.c-main1 h2 {
    
    max-width: 900px;
    font-size: 2.7em;
    font-family: 'Cormorant Garamond', serif;  
    line-height: 1em;
    margin-bottom: 30px;
    font-weight:500; 
    letter-spacing: -0.03em;     
    color: #462332;
 
}

.c-text {
    padding: 100px 5%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5em;
    font-weight: 1000;
    color: white;
    line-height: 1.7em;
    position: relative;
    z-index: 1;
    font-family: 'Cormorant Garamond', serif;

}

@media (max-width:1000px)
{
    .c-text {
        font-size: 2em;
    }
}

@media (max-width:800px)
{
    .c-text {
        font-size: 1.9em;
    }
}

@media (max-width:700px)
{
    .c-text {
        font-size: 1.8em;
    }
}

@media (max-width:600px)
{
    .c-text {
        font-size: 1.7em;
    }
}

@media (max-width:500px)
{
    .c-text {
        font-size: 1.6em;
    }
}

@media (max-width:400px)
{
    .c-text {
        font-size: 1.5em;
    }
}

@media (max-width:300px)
{
    .c-text {
        font-size: 1.4em;
    }
}



.c-bimage {
    background: url(../media/fire.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.c-bimage:before {
    content: "";
    position: absolute;    
    height: 100%;
    width: 100%;
    top:0;
    right: 0;
    background-color: black;
    opacity: 0.5;   
}

.m-bimage {
    background: url(../media/medib4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.m-bimage:before {
    content: "";
    position: absolute;    
    height: 100%;
    width: 100%;
    top:0;
    right: 0;
    background-color: black;
    opacity: 0.5;   
}

.c-main1 p {
    letter-spacing: .35px;
    margin-bottom: 15px;
    font-family: 'Source Sans Pro', sans-serif;   
    line-height: 1.3;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: 300;
}

.c-main1 p:first-of-type {
    font-size: 1.4em;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 35px;
   
}
.c-main1 button
{
    margin-top: 20px;
    font-size: 1.1em;
}

.flex-this-c-sec2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px 5% 15px 5%;
    max-width: 1300px;
    margin: auto;
}

.flex-this-c-sec2 .text {
    max-width: 800px;
   
}

.text p {
    letter-spacing: .35px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.3;
    font-size: 1.3em;
    font-weight: 300;
}

.flex-this-c-sec2 .c-price-card {
    max-width: 550px;
}

.th-sec2 button {
    font-size: 1.1em;
    
}