.th-container {
    max-width: 1250px;
    margin: auto;  
    padding: 0 5%; 
}

.th-banner{
    color: #850F43;
    text-align: center;
    padding: 30px 0;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.98px;
    font-family: 'Cormorant Garamond', serif;
    background: #c4b877; 
    background: -webkit-linear-gradient(to right, #c4b877, #e4deb8, #c4b877); 
    background: linear-gradient(to right, #c4b877, #e4deb8, #c4b877);    
}

.th-banner2{
    color: #5f1334;
    text-align: center;
    padding: 30px 0;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.98px;
    font-family: 'Cormorant Garamond', serif;
    background: #fb71b2; 
    background: -webkit-linear-gradient(to right, #fb71b2, #f1a9cb, #b85482); 
    background: linear-gradient(to right, #a35178, #ec80b3, #a35178); 
    border-top: 1px solid black;   
}

.th-sec1 h2, .th-sec2 h2{
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 20px;
    font-size: 2em;    
    font-weight:500; 
    letter-spacing: -0.03em;    
    padding-bottom: 20px;
    color: #462332;
}

.center{
   display: flex;
   justify-content: center;
   padding: 15px 0 30px 0;
}

.th-sec1 p, .th-sec2 p, .th-sec3 p{
    letter-spacing: .35px;
    margin-bottom: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;    
    line-height: 1.3;
    margin-top: 10px;
}

.th-sec1 ul {   
    list-style-type:disc;    
    text-align: start; 
}

.th-sec1 ul li {  
    margin-left: 40px;
    letter-spacing: .35px;    
    font-family: 'Source Sans Pro', sans-serif;    
    line-height: 1.1em;   
    font-size: 1.25em;
    font-weight: 300;
}

.flex-this-thp1 { 
    display: flex;    
    flex-wrap: wrap-reverse;
    align-items: center;    
    justify-content: space-between;      
    padding-top: 40px;
    padding-bottom: 40px;    
}

.flex-this-thp2 {
    display: flex; 
    flex-direction: row-reverse;   
    flex-wrap: wrap;
    align-items: center;    
    justify-content: space-between;      
    padding-top: 85px;
    padding-bottom: 50px; 
}

.thp-hero {
    background-color: #ebe5ea;
}

.left-flex-thp1 {
    flex: 1 1 350px;
    max-width: 650px;    
    text-align: center;
}

.left-flex-thp2 {
    flex: 1 1 350px;
    max-width: 550px;
    background:  rgb(255, 250, 255);  
    border: 1px solid lightgray;    
    padding: 1.3em;
}

.left-flex-thp2 h2 {
    margin-bottom: 10px;
}

.right-flex-thp2 {
    flex: 1 1 405px;
    max-width: 550px;
}

.happy {
width: 100%;
}

.right-flex-thp1 {
    flex: 1 1 250px;
    max-width: 449px;    
}

.right-flex-thp1 img {
    max-width: 449px ;  
}

.gld {
    max-height: 150px;    
    margin-bottom: 5px;  
}

.left-flex-thp1 button {
    font-size: 1.1em;
}

.left-flex-thp1  h2 {
    font-size: 2.7em;
    margin-bottom: 10px;    
}

.left-flex-thp1  p {
    font-size: 1.2em;
    font-weight: 300;   
}

.left-flex-thp1  p:first-of-type {
    font-size: 1.4em;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3px;
}

@media (max-width:904px) {
    .flex-this-thp1, .flex-this-thp2 {
        justify-content: center;
    }
    .right-flex-thp1 img {
        max-width: 92vw ;
        
    }

    .right-flex-thp2 img {
        margin-top: 30px;
        
    }
}

.center-long {
    margin-top: 100px; 
    margin-bottom: 50px;   
    border: 1px solid lightgray;    
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgb(255, 250, 255);
    
}

.center-long p {    
    letter-spacing: .35px;    
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;    
    font-size: 0.9em;
    font-weight: 300;  
    margin: 0;
}

.bt1px {
    border-top: 1px solid black;
}

.flex-this-price-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.price-card {
  text-align: center;
  border: 1px solid black;    
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em; 
  /* border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;  */
}

.price-card:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.info-price-card {   
    margin-bottom:0 !important;
    padding: 50px 0;
    text-align: center;
    font-weight: 300;
}

.price-card-shelf {
    padding: 20px 45px;
    border-bottom: 1px solid lightgray;
}

.price-card-shelf:first-of-type {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.price-card-shelf:nth-child(2) {
    background: lightgray;
}

.price-card-shelf:last-of-type {
    border-bottom: none;
    padding: 20px 45px;   
    /* border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em; */
}

.questions {
    padding: 50px 0;
   
}

.questions h2 {
    font-family: 'Cormorant Garamond', serif;   
    font-size: 1.5em;    
    font-weight:500; 
    letter-spacing: -0.03em;    
    /* max-width: 734px;
    margin:0 auto; */
    color: #462332;
    /* text-align: center; */
    cursor: pointer;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.answer p {
    margin: 20px 0;
    text-align: center;
    font-weight: 300;
    border: 1px solid lightgray;
    padding: 10px 1%;
    background-color: rgb(255, 250, 255);
    
    

}
.answer {
    max-height: 0px;
    overflow: hidden;
    animation: showAnswer ;
     
}

.show-answer {
   
    max-height: 1000px;
    transition: max-height 0.3s ease-in;
}

.plus-icon {
    position: relative;
    top: 5px;
    height : 1em;
}











