@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

nav {
  position: fixed;
  top: 0px;
  width: 100%;   
  height: 8vh;
  z-index: 10000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  background-color: rgb(240, 235, 245);
  padding: 15px 0 15px 0;
}

 .under-nav{    
  height: calc(8vh + 30px);
  background-color: red;
} 

.logo {
  font-family: 'Dancing Script', cursive;
  color: #9E005D;
  font-size: 40px;
  position: relative;
  z-index: 30;
}

.logo-link {
  text-decoration: none;
  color: #9E005D;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 45%;
  font-size: 18px;
}

nav ul li {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-weight: 600;
  color: rgb(77, 77, 77);
  border: 1px solid transparent;
}

.nav-link:hover {
  color: #b6a1ad;
  font-weight: 600;
  border-bottom: 2px solid #b6a1ad;
}

.nav-location {
  color: #9E005D;
  border-bottom: 2px solid #9E005D;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #9E005D;
  margin: 5px;
  transition: all 0.3s ease;
}


@media (max-width:1600px) {
  nav ul {
    width: 50%;
  }
}

@media (max-width:1250px) {
  nav ul {
    width: 63%;
  }
}

@media (max-width:972px) {

  nav ul {
    position: absolute;
    right: 0;
    height: 92vh;
    top: calc(8vh + 15px);
    background-color: rgb(240, 235, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    font-size: 14px;
    transform: translateX(100%);
    z-index: 20;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

}

.nav-active {
  transform: translateX(0%);
  transition: transform 0.25s ease-in;
}


.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  background: linear-gradient(90deg, rgb(199, 194, 197) 0%, rgb(201, 194, 199) 100%);
  min-height: 92vh;
  height: max-content;
}

.main .main-img {
  width: 100%;
}

.img-div {
  position: relative;
  display: flex;
  align-items: center;
}

.crystal-img {
  position: absolute;
  top: calc(50%-200px);
  right: 2%;
  height: 5em;
  transition: all 0.3s ease;
}

.rotate-diamond {
  transform: rotate(12deg) translate(20px, -10px);
}

.call-to-action {
  max-width: 600px;
  font-size: 1.7rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.call-to-action h1 {
  color: #553246;
  line-height: 1.2;
  margin-bottom: 25px;
}

.call-to-action button {
  margin-top: 20px;
  width: fit-content;
}

.img-div {
  text-align: right;
}

@media (max-width:1250px) {
  .img-div {
    display: none;
  }

  .call-to-action button {
    width: 100%;
  }
}

@media (max-width:680px) {
  .call-to-action {
    margin: 0 1em;
  }
}

@media (max-width:509px) {
  .call-to-action {
    font-size: 1.5em;
    margin-top: -40px;
  }

  .call-to-action h1 {
    font-size: 1.3em;
  }
}

@media (max-width:450px) {
  .call-to-action {
    font-size: 1.3em;

  }
}

.meditation-wiki {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3em 0;
}

.meditation-wiki-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3em 0;
}

.meditation-wiki-reverse {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin: 3em 0;
}

.mediwiki {
  max-width: 1230px;
  padding: 2em 2em;
  margin: 0 auto;
  border: 1px solid transparent;

}

.medi-info {
  max-width: 550px;
  font-size: 1.2em;
}

.medi-info p {
  letter-spacing: .35px;
  margin-bottom: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
}

.medi-info p:nth-child(4) {
  margin-bottom: 10px;
}

.medi-info li {
  list-style-type: circle;
  letter-spacing: .35px;
  line-height: 1.3;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-left: 40px;
  padding-left: 0;
}

.medi-info li span {
  position: relative;
  left: -5px;
}


.translate-image-l {
  -webkit-animation-name: fadeFromLeft;
  animation-name: fadeFromLeft;
  animation-duration: 1s;
}

.translate-image-r {
  -webkit-animation-name: fadeFromRight;
  animation-name: fadeFromRight;
  animation-duration: 1s;
}

.translate-text {
  -webkit-animation-name: fadeFromBottom;
  animation-name: fadeFromBottom;
  animation-duration: 1s;
}

@keyframes fadeFromLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-15%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeFromRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(15%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeFromBottom {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 15%, 0);
    transform: translate3d(0, 5%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.medi-info p {
  margin-top: 20px;
}

.wiki-image-parent {
  max-width: min-content;
  display: flex;
  align-items: center;
}

@media (max-width : 1300px) {

  .wiki-image-parent img {
    width: 400px;
  }

  .medi-info {
    max-width: 450px;
    font-size: 1.1em;
  }

  .mediwiki {
    max-width: 900px;
    padding: 0 1em;
    margin: auto;
  }
}

@media (max-width : 910px) {
  .mediwiki {
    max-width: 400px;
    padding: 0 1em;
    margin: auto;
  }

  .medi-info {
    padding-top: 20px;
  }
}

@media (max-width : 500px) {
  .wiki-image-parent img {
    width: 100%;
  }

  .wiki-image-parent {
    max-width: max-content;
  }
}

.first-wiki {
  background-color: #FAF3EE;
}

.sec-wiki {
  background-color: #faf3ee;
  color: black;
}

.third-wiki {
  background-color: rgb(221, 216, 220);
}

.sliding-main {
  position: absolute;
  top: calc(8vh + 30px);
  left: 0%;
}

.main2 {
  position: relative;
}

.display-block {
  display: block;
}

.display-block {
  display: flex;
}

.slidind-img {
  height: 100%;
  min-height: 356px !important;
  max-height: 100vh;
  z-index: 2;
}

.sliding-img-parent {
  z-index: 1;
  background: linear-gradient(90deg, rgba(240, 232, 237, 1) 0%, rgba(247, 253, 255, 1) 100%);
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 92vh;
  min-height: 92vh !important;
}

.mask {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  background-color: #ADA0AA;
  opacity: 0.3;
}

.sliding-img p {
  margin-left: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
  color: #850F43;
  font-size: 7rem;
  font-weight: 500;
  max-width: 850px;
  line-height: 1;
  font-family: 'Cormorant Garamond', serif;
}

.semnatura {
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-family: 'Dancing Script', cursive;
  color: #850F43;
  font-size: 38px;
}


.slider-dots {
  display: flex;
  position: absolute;
  top: 58vh;
  right: 30px;
  z-index: 3;
}

.slider-dots ul {
  list-style: none;

}

.slider-dots ul li:nth-child(2) {
  margin: 11px 0;
}

.filled-dot {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
}

.hallow-dot {
  width: 6px;
  height: 6px;
  border: 3px solid white;
  background-color: transparent;
  border-radius: 50%;
}

.stanga {
  transform: translate3d(-100%, 0, 0);
  transition: all 0.7s ease-in;
}

.dreapta {
  transform: translate3d(0%, 0, 0);
  transition: all 0.7s ease-in;
}

.app,
html,
body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}

@media (max-width:1230px) {
  .sliding-img p {
    font-size: 6rem;
  }

  .semnatura {
    font-size: 2.3em;
  }
}

@media (max-width:960px) {
  .sliding-img p {
    margin-left: 0;
    font-size: 5rem;
  }

  .semnatura {
    font-size: 2.1em;
  }
}


@media (max-width:600px) {
  .sliding-img p {
    font-size: 4.5rem;
  }

  .semnatura {
    font-size: 1.8em;
  }
}

@media (max-width:500px) {
  .sliding-img p {
    font-size: 4rem;
    line-height: 1.1;
  }

  .semnatura {
    font-size: 1.7em;
  }
}

@media (max-width:442px) {
  .sliding-img p {
    font-size: 3.2rem;
    line-height: 1.1;
  }

  .semnatura {
    font-size: 1.6em;
  }
}

@media (max-width:372px) {
  .sliding-img p {
    font-size: 3rem;
    line-height: 1.12;
  }

  .semnatura {
    font-size: 1.5em;
  }
}

@media (max-width:331px) {
  .sliding-img p {
    font-size: 2.7rem;
  }
}

.small-divider {
  background: #F4E3DB;
  text-align: center;
  padding: 2em;
  margin: auto;
}

.container-sd {
  max-width: 1250px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-flex {
  max-width: 500px;
}

.small-divider h4 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.98px;
  color: #850F43;
}

.sd-first {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2em;
  margin-bottom: 12px;
  margin-top: 5px;
  font-weight: 300;
  line-height: 1.4;
}

.sd-second {
  line-height: 1.7;
  letter-spacing: 0.9px;
  display: flex;
  align-items: center;
}

.medi-info h1 {
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 20px;
  font-size: 2.9em;
  line-height: 55px;
  font-weight: 500;
}

.violet-btn {
  font-size: 0.9em;
  text-align: center;
  font-weight: 600;
  letter-spacing: .73px;
  border: 1px solid #aa1354;
  background-color: #aa1354;
  color: white;
  padding: 14px 40px;
  cursor: pointer;
}

.sec-violet-btn {
  font-size: 0.9em;
  text-align: center;
  font-weight: 600;
  letter-spacing: .73px;
  border: 2px solid #aa1354;
  background-color: transparent;
  color: #aa1354;
  padding: 13px 39px;
  cursor: pointer;
}

.ml1 {
  margin-left: 10px;
}

.violet-btn:hover {
  border: 1px solid #740535;
  background-color: #740535;
}

.violet-btn:focus {
  outline: none;
}

.small-divider2 {
  /* background: #F4E3DB; */
  background: #FAF3EE;
  text-align: center;
}

.sd2-first {
  color: #850F43;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.98px;
  padding-top: 35px;
  line-height: 1;
  font-size: 1.5em;
}

.sd2-second {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  padding-bottom: 35px;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2rem;
  line-height: 1.26;
  max-width: 1230px;
  margin: 0 auto;
}


.curatare-energetica {
  position: relative;
  background-color: #FAF3EE;
}

.curatare-energetica img {
  width: 100%;
  height: auto;

}

.curatare-e-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
  text-shadow: 0px 2px 31px black;
}

.curatare-e-text h1 {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.1;
  font-family: 'Cormorant Garamond', serif;
  font-size: 6.5em;
}


.curatare-e-text p {
  width: 100%;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-size: 2.5em;
  padding: 0.6em 0.5em;
}

.curatare-e-text button {
  margin-top: 1.7em;
  font-size: 2em;
}


.mask-ce {
  position: absolute;
  width: 100%;
  height: 99.5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  opacity: 0.25;
}

@media (max-width:1675px) {
  .curatare-e-text h1 {
    font-size: 6em;
  }

  .curatare-e-text p {
    font-size: 2em;
  }

  .curatare-e-text button {
    font-size: 1.5em;
  }
}

@media (max-width:1360px) {
  .curatare-e-text h1 {
    font-size: 4.5em;
  }

  .curatare-e-text p {
    font-size: 1.7em;
  }

  .curatare-e-text button {
    font-size: 1em;
  }
}

@media (max-width:927px) {
  .curatare-e-text h1 {
    font-size: 4em;
  }

  .curatare-e-text p {
    font-size: 1.5em;
  }

  .curatare-e-text button {
    font-size: 1em;
  }
}

@media (max-width:846px) {
  .curatare-e-text h1 {
    font-size: 2.7em;
  }

  .curatare-e-text p {
    font-size: 1.5em;
    padding: 0.3em 0.2em;
  }

  .curatare-e-text button {
    font-size: 1em;
  }
}

@media (max-width:777px) {
  .mask-ce {
    opacity: 0;
    height: 0;
  }

  .curatare-e-text {
    position: relative;
    margin-top: 190px;
    color: black;
    text-shadow: none;
  }

  .curatare-energetica {
    max-height: 680px;
  }

  .small-divider2 {
    background-color: #F4E3DB;
  }
}

@media (max-width:590px) {
  .curatare-energetica {
    max-height: 600px;
  }
}

@media (max-width:523px) {
  .curatare-energetica {
    max-height: 600px;
  }
}

@media (max-width:380px) {
  .curatare-e-text {
    margin-top: 220px;
  }

  .curatare-energetica {
    max-height: 600px;
  }
}

.testimonial-card .test-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin: 20px;
}



.testimonial-card {
  text-align: center;
  width: 800px;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-shadow: 3px 4px 10px -5px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 3px 4px 10px -5px rgba(0, 0, 0, 0.9);
  box-shadow: 3px 4px 10px -5px rgba(0, 0, 0, 0.9);
  cursor: pointer;
  background-color: #FAF3EE;
}

.testimonial-card .text {
  padding: 0 20px 10px 20px;
  line-height: 1.8;
  letter-spacing: .35px;
  margin-bottom: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
}

.flex-this-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F4E3DB;
  padding-bottom: 100px;
}

.test-name {
  color: #2196f3;
  font-weight: 600;
}

.extra-shadow {
  -webkit-box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 9px -2px rgba(0, 0, 0, 0.75);
  transform: translateY(-2%);
  transition: all 0.15s linear;
}

.extra-shadow2 {
  -webkit-box-shadow: 0px 4px 19px 0px  rgb(255, 69, 255);
  -moz-box-shadow: 0px 4px 19px 0px  rgb(255, 69, 255);
  box-shadow: 0px 4px 19px 0px rgb(255, 69, 255);
  transform: translateY(-2%);
  transition: all 0.15s linear;
}




.footer {
  background-color: black;
  padding: 100px 0;
  color: white;
}

.container {
  max-width: 1250px;
  margin: auto;
  padding: 0 100px;
}

.footer img {
  background-color: black;
  height: 50px;
  cursor: pointer;
  margin-top: 10px;
  padding-right: 10px;
}

.footer p {
  line-height: 30px;
}

.flex-this-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-right-flex {
  min-width: fit-content;
}

.footer-left-flex {
  min-width: 200px;
}

.flex-this {
  display: flex;
  align-items: center;
}

.flex-this-btn {
  display: flex;
  align-items: center;
}

.footer-right-flex p {
  text-align: end;
}

.footer-contact-link {
  color: white;
  text-decoration: none;
}

.copyright-text {
  font-size: 12px;
  color: grey;
  text-align: center;
  position: relative;
  top: 50px;
}

@media (max-width: 800px) {
  .footer-right-flex {
    margin-top: 50px;
  }

  .footer-right-flex p {
    text-align: start;
  }

  .footer-right-flex p:nth-child(3) {
    margin-top: 10px;
  }
}

.extra-padding1 {
  padding: 30px;
  font-size: 1.1em;
}

@media (max-width:971px) {
  .container-sd {
    justify-content: center;
  }
}

.mt1 {
  margin-top: 10px;
}

.mt2 {
  margin-top: 40px;
}


@media(max-width:414px) {
  .redu-btn-padding {
    padding: 14px 20px;
  }
}

@media(max-width:346px) {
  .redu-btn-padding {
    padding: 14px 0px;
  }
}

.main-croped-img {
  height: 92vh;
  -webkit-filter: drop-shadow(0 0 6px #222);
  filter: drop-shadow(-3px 5px 6px #222);
}

.theta-img {
  -webkit-box-shadow: 7px 7px 8px -5px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 7px 7px 8px -5px rgba(0, 0, 0, 0.52);
  box-shadow: 7px 7px 8px -5px rgba(0, 0, 0, 0.52);
}

@media (max-width: 857px) {
  .testimonial-card {
    margin-top: 40px;
  }
}

@media(max-width:1920px) {
  .full-padding {
    padding: 0 auto;
    width: 100%;
  }
}

/* cursuri */

 .container-and-flex-cursuri {
  max-width: 1250px;
  margin: auto;
  padding: 55px 0 55px 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} 

.cursuri {
  background: linear-gradient(90deg, rgb(199, 194, 197) 0%, rgb(201, 194, 199) 100%);
  position: relative;
  z-index: 1;
  margin-bottom: -2px;
   border-bottom: 1px solid #FAF3EE; 
}

.cursuri-hr {
  border-color:#FAF3EE;
}

.cursuri1, .cursuri2 {
  padding: 20px 20px 20px 20px  ;
  min-width: 562px;
  color: rgb(122, 98, 66);
}

.cursuri1 button, .cursuri2 button {
  margin-top: 10px;
  font-size: 1em;
}

.cursuri p {
  color: black;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.5;
}

.cursuri1 small, .cursuri2 small {
  color: rgb(122, 98, 66);
  position: relative;
}

/* .cursuri1 small:before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: red;
  position: absolute;
  top: 13px;
  left: -20px;
  border-radius: 50px;
} */

.cursuri h3 {
  color: #850F43;
  font-weight: 600;
  font-size: 2em;
}

.cursuri img {
  height: 65px;
  margin-bottom: 10px;
}

 @media (max-width:1222px) {
  .cursuri-hr {
    display: none;
  }
} 

@media (max-width:1220px) {
  .cursuri2 {
   margin-top: 30px;
   color: black;
  }
  .container-and-flex-cursuri {
    justify-content: center;
  }
}

@media (max-width:630px) {
  .cursuri1, .cursuri2 {
    padding: 20px 20px 20px 20px  ;
    min-width: 92%;
    max-width: 92%;
  }
}
/* end cursuri */

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  text-align: center;
  position: absolute;
  background-color: #F0EBF5;
  top: 170%;
  left: -17%;
  box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 99;
  white-space: nowrap;
  display: block;
}

.hideDropdown {
  display: none;
}

.dropdown-content p{
  line-height: 2.4em;
}

 .nav-link2 {
  text-decoration: none;
  font-weight: 300;
  color: rgb(77, 77, 77);
  border: 1px solid transparent;
}

.nav-link2:hover {
  color: #b6a1ad;
  font-weight: 300;
  border-bottom: 2px solid #b6a1ad;
} 

@media (max-width:850px) {

  .dropdown-content {   
    padding: 12px 12px;
  }

  .dropdown-content p{
    line-height: 3em;
  }
}

.flex-center{
  display: flex;
  justify-content: center;
}

.mt10px {
  margin-top: 10px;
}

.mt15px {
  margin-top: 15px;
}
.mt20px {
  margin-top: 20px;
}
.mt25px {
  margin-top: 25px;
}
.mt30px {
  margin-top: 30px;
}

.mt35px {
  margin-top: 35px;
}

.mt40px {
  margin-top: 40px;
}

.mt45px {
  margin-top: 45px;
}
.mt50px {
  margin-top: 50px;
}


/* modal */

.mymodal-bg {
  position:fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  display:flex;
  justify-content: center;
  align-items: center; 
  visibility: hidden;
  opacity:0;  
  transition: visibility 0s, opacity 0.5s; 
  z-index: 2000000;
  
}

.activate {
  visibility:visible;
  opacity: 1;
}

.mymodal {
  border-radius: 0.25rem;
  background-color: white;  
  max-width: 600px;
  height:fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: inherit;
  position: relative;
}

.mymodal img {
  width: 100%;
  
}

.mymodal button {
   padding: 10px 30px;
   background-color: #2980b9;
   color: white;
   border: none;
   cursor: pointer;
   position: absolute;
   bottom:10%;
   font-size: 1em;
 
}


.mymodal-close {
 position: absolute;
 top:10px;
 right:10px;
 font-weight: bold;
 cursor: pointer;
}


/* end modal */

.hidden {
  visibility: hidden;
}


.testimoniale-title {
  padding-top: 70px;
  text-align: center;
  background-color: #F4E3DB;
  color: #850F43;
  font-family: 'Cormorant Garamond', serif;
  font-size: 4em;
}